In [1]:
class Employee:
    pass

In [2]:
emp1 = Employee()

In [3]:
emp2 = Employee()

In [4]:
print(emp1)

<__main__.Employee object at 0x79c7a912b7a0>

In [5]:
print(emp2)

<__main__.Employee object at 0x79c7a91288c0>

In [6]:
# instance variables

emp1.first = 'Ajay'
emp1.last = 'Mishra'
emp1.sal = 51000

emp2.first = 'Geet'
emp2.last = 'Chavan'
emp2.sal = 50000

In [7]:
print(emp1.first)

Ajay

In [8]:
print(emp2.sal)

50000

In [9]:
class Employee:
    comp = 'TCS'   # class variable
    def __init__ (self, first, last, sal):  
        self.first = first   # instance variables
        self.last = last
        self.sal = sal

    def year_sal(self):
        return self.sal * 12

In [10]:
emp1 = Employee('Ajay', 'Mishra', 51000)

In [11]:
emp1.first

'Ajay'

In [12]:
emp1.comp

'TCS'

In [13]:
emp1.year_sal()

612000

# Encapsulation

In [15]:
# private variable

In [16]:
class Employee:
    comp = 'TCS'   # class variable
    def __init__ (self, first, last, sal):  
        self.first = first   # instance variables
        self.last = last
        self.__sal = sal   # private var(

    def show_sal(self):
        return f"salary is {self.__sal}"

In [17]:
emp1 = Employee('Ajay', 'Mishra', 51000)

In [18]:
emp1.first

'Ajay'

In [19]:
emp1.show_sal()

'salary is 51000'

In [20]:
# Inherit

In [21]:
class Employee2(Employee):
    pass

In [22]:
emp3 = Employee2('Natasha', 'Reddy', 48000)

In [23]:
emp3.first

'Natasha'

In [24]:
# create a class called person
# attributselfes => name, age, address
# make address => private variable
# create a method which will show all the info

In [25]:
class Person:
    def __init__(self, name, age, address):
        self.name=name
        self.age=age
        self.__address=address

    def show_info(self):
        print(f"Name:{self.name}")
        print(f"Age:{self.age}")
        print(f"Address:{self.__address}")

    def __str__ (self):
        return f"{self.name}, {self.age}, {self.__address}"

In [26]:
p1 = Person('Sapna', 19, 'Pune')

In [27]:
dir(p1)

['_Person__address',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'show_info']

In [28]:
print(p1)

Sapna, 19, Pune

# Polymorphism

In [30]:
class Pokemon:
    pass

In [31]:
class Fire(Pokemon):
    def __init__ (self):
        pass
    
    def su_eff(self):
        return f"grass"

In [32]:
class Water(Pokemon):

    def __init__ (self):
        pass
    
    def su_eff(self):
        return f"fire"

In [33]:
def type_adv(pkmn):
    return f"{pkmn.su_eff()}"

In [34]:
fire1 = Fire()
water1 = Water()

In [35]:
type_adv(fire1)

'grass'

In [36]:
type_adv(water1)

'fire'

In [37]:
### operator Overriding

In [38]:
# chainging the functionality of +, -, ...

In [39]:
class Vector:

    def __init__ (self, x, y):
        self.x = x
        self.y = y

    def __add__ (self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __repr__ (self):
        return f"Vector {self.x}, {self.y}"

In [40]:
v1 = Vector(3, 5)
v2 = Vector(5, 10)

In [41]:
v1 + v2

Vector 8, 15

# destructor

In [43]:
class Employee:

    employee_count = 0

    def __init__ (self, name, sal):
        self.name = name
        self.sal = sal
        Employee.employee_count += 1

    # method for emp details
    def show_details(self):
        print(f"name: {self.name}, sal: {self.sal}")

    # destructor 
    def __del__ (self):
        Employee.employee_count -= 1
        print(f"Employee {self.name} has been removed")

In [44]:
emp1 = Employee('Ankit', 56000)
emp2 = Employee('Parth', 60000)

In [45]:
emp2.show_details()

name: Parth, sal: 60000

In [46]:
Employee.employee_count

2

In [47]:
del emp2

Employee Parth has been removed

In [ ]:
"""
attributes for banking => account no, name, balance
methods => deposite, withdraw  (after using these it should also show the
            current balance)

""

In [115]:
class Bank:
  def __init__(self,acno,name,balance=0):
      self.acno = acno
      self.name = name
      self.balance = balance
  def deposit(self,amount):

          self.balance += amount
          print("Deposited:,{amount}")
      

  def withdraw(self, amount):
      if amount > 0 and amount <= self.balance:
          self.balance <= amount
          print(f"Withdraw.{amount}")
      else:
          amount > self.balance
          print(f"Insufficient balance:")
  def show_balance(self):
       print(f"Account_balance:{self.balance}")

In [117]:
account = Bank(acno ='2465786',name="Vaishu",balance = 20000)
account.deposit(5000)
account.withdraw(2000)
account.show_balance()

Deposited:,{amount}
Withdraw.2000
Account_balance:25000

In [ ]:
https://mitu.co.in/review

https://mitu.co.in/feedback

https://mitu.co.in/downloads -> content

adityathakare72@gmail.com